.hero
  position: fixed
  max-width: 100%
  margin: 0 auto
  z-index: -20

  @media (max-width: 767px)
    height: 40em
    top: 64px
    position: fixed
    width: 100%

  .banner
      width: 100%
    @media (max-width: 767px)
      display: none
