@import hero
@import call-to-action
@import contact

body
  line-height: 1.5em
  background: #eee
  padding-top: 60px
.content
  padding: 15px
  background: white
.footer
  &.container
    padding: 0 30px
  @media(max-width: 992px)
    p
      text-align: center
