.container
  #map
  button.btn.btn-default.btn-lg.show-route How do I get there?
  .row
    .col-sm-6
      h2 Drop by to say Hello or just send us an email!
      p
        | The world is filled with creativity. Books, art, music, movies, games – creativity is everywhere. Our job is to help creative people show their works to the audience of tomorrow.
        | ReadFwd is a newborn company (March 2012) founded by Paul Balogh & Cristian Dinu focused on digital illustrated & interactive books, especially for iPads, iPhones and Androids. We do “classic” ebooks too, along with DRM protection & channels of distribution.
        | Company Location
        | Read Forward
        | 28B Stefan Mihaileanu Str., et. 1, ap. 2
        | Bucharest, Romania
        | How To Contact Us
        | Email: hello@readfwd.com
        | Office Hours
        | Mondays-Friday: 09:00 – 18:00
    .col-sm-6
      img.get-in-touch(src="http://placehold.it/400x300")
