.footer.container
  hr
  .row
    .col-md-6
      p.small
        | © 2012 All Rights Reserved
        br
        | S.C. Read Forward S.R.L.
        br
        | RO 29932126
        br
        | J40/3116/19.03.2012
        br
        | Mailing Address: Bucuresti Sector 3, Blvd Corneliu Coposu, nr. 51, et. 5, ap. 48
    .col-md-6(style="text-align: right")
      p.small
        | Bank: Banca Transilvania
        br
        | RO70BTRL04101202H60987XX (RON)
        br
        | RO45BTRL04104202H60987XX (EUR)
        br
        | Swift BTRL RO22 XXX
